/* -------------------------------------------------------------------------- */


/*                           CARDS DE LOS PRODUCTOS                           */


/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
    --fuente-productos: 'Poppins';
    --color-primario: #3A64AC;
}

.container-fluid {
    font-family: var(--fuente-productos);
}

.md-form {
    i {
        font-size: 25px!important;
        line-height: unset!important;
        &.input-prefix.active {
            color: var(--color-primario) !important;
        }
    }
    .prefix.active {
        color: var(--color-primario) !important;
    }
    input:focus:not([readonly]),
    textarea:focus:not([readonly]) {
        box-shadow: 0 1px 0 0 var(--color-primario) !important;
        border-bottom: 1px solid var(--color-primario) !important;
    }
    input:focus:not([readonly])+label,
    textarea:focus:not([readonly])+label {
        color: var(--color-primario) !important;
    }
}

.caja-producto {
    position: relative;
    height: 100%;
    min-height: 450px;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all .3s ease;
    max-height: 500px;
    &:hover {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }
    .image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .3s ease;
        }
    }
    &:hover .image img {
        transform: scale(1.05);
    }
    .card-content {
        height: 100%;
        width: 100%;
        padding: 10px 0;
    }
    &:hover .card-content .wrapper {
        bottom: 0px;
    }
    i {
        font-size: 15px;
    }
}

.wrapper {
    position: absolute;
    background-color: #fff;
    width: 100%;
    bottom: -500px;
    left: 0px;
    padding: 10px 25px;
    box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.9);
    transition: all .8s ease;
    .title {
        font-size: 20px;
        font-weight: 500;
    }
    p {
        font-size: 17px;
        color: grey;
    }
    .price {
        color: var(--color-primario);
        font-size: 18px;
        font-weight: 600;
    }
    .content {
        margin: 10px 0;
        .name {
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

.content {
    .value-size {
        display: flex;
        width: 75%;
        margin: 5px 0;
        justify-content: space-between;
        span.active {
            background-color: var(--color-primario);
            color: #fff;
        }
    }
    .value-color {
        display: flex;
        width: 100%;
        margin: 10px 0;
        justify-content: space-between;
    }
}

.btn {
    font-family: var(--fuente-productos) !important;
    font-size: 12px;
}

.btn-indigo {
    background-color: var(--color-primario) !important;
}


/* ----------------------- SELECT CON MATERIAL DESIGN ----------------------- */

.custom-select:focus {
    border-color: var(--color-primario)!important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 63, 131, 0.39);
}


/* -------------------------------------------------------------------------- */


/*                    SELECTORES (RADIO BOTONES) DE COLORES                   */


/* -------------------------------------------------------------------------- */

$colors: ( red: #DB2828,
orange: #F2711C,
yellow: #FBBD08,
olive: #B5CC18,
green: #21BA45,
teal: #00B5AD,
blue: #2185D0,
violet: #6435C9,
purple: #A333C8,
pink: #E03997,
black: #000000);
input[type="radio"].color {
    display: none;
    &:checked+label {
        span {
            transform: scale(1.25);
        }
        @each $name,
        $value in $colors {
            .#{$name} {
                border: 2px solid darken($value, 25%);
            }
        } // !@each
    } // !&:checked + label
}

label.color {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
        span {
            transform: scale(1.25);
        }
    }
    span {
        display: block;
        width: 100%;
        height: 100%;
        transition: transform .2s ease-in-out;
        border-radius: 50%;
        @each $name,
        $value in $colors {
            &.#{$name} {
                background: $value;
            }
        }
    }
}


/* -------------------------------------------------------------------------- */


/*                                    MODAL                                   */


/* -------------------------------------------------------------------------- */

a.modal {
    position: relative!important;
    width: auto;
    overflow-y: hidden!important;
}


/* -------------------------------------------------------------------------- */


/*                                   FOOTER                                   */


/* -------------------------------------------------------------------------- */

footer {
    font-family: var(--fuente-productos);
}


/* -------------------------------------------------------------------------- */


/*                        COMPLEMENTOS DE OTRAS VISTAS                        */


/* -------------------------------------------------------------------------- */


/* ------------------------- FORMULARIO DE REGISTRO ------------------------- */

.kv-avatar .krajee-default.file-preview-frame,
.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.file-drop-zone {
    border: unset;
    min-height: unset;
}

.kv-avatar {
    display: inline-block;
}

.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
    height: 100px;
}

.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}